<%- include("partials/header") -%>

<div class="spaceLessLeft">
  <h1>Work Experience</h1>
  <hr>
  <hr>
  <h3>Grinnell College</h3>
  <p><i><strong>Teacher's Assistant</strong></i></p>
  <p>Grinnell, IA</p>
  <p>August 2021 – Present</p>
    <ul>
      <li>Graded work and submitted it to supervisors (sorted by grade).</li>
      <li>Assisted supervisors in grading by creating grading sheets and distributing them to other graders.</li>
    </ul>

  <hr>
  <hr>
    <h3>Amazon</h3>
    <p><i><strong>SDE Intern</strong></i></p>
  <p>Bellevue, WA</p>
  <p>May 2022 - August 2022</p>
    <ul>
    </ul>
</div>


</div>









<%- include("partials/footer") -%>
