<%- include("partials/header") -%>

<div class="spaceLessLeft">
  <h1>Projects</h1>
  <hr>
  <h2>FAANG Stock Tool Prediction & Visualizer</h2>
  <p>StockTool is an interactive R Shiny app that allows users to explore and analyze FAANG (Facebook(Meta), Apple, Amazon, Netflix, Google) stock prices. It also utilizes Machine Learning using the h2o package and provides a end of the day stock prediction for an individual stock.</p>
  <a href="https://github.com/Jang-HwiJin/csc324_individual_project">Check it out</a>
  <hr>
  <h2>FoodVerse</h2>
  <p>FoodVerse ia a web application created in HTML, CSS, JavaScript that provides random recipes and instructions.
    Users also have the option to specify which categories such as dessert, vegan, and etc to receive random recipes
  from the categories.</p>
  <a href="https://sheltered-dawn-50224.herokuapp.com/#">Check it out</a>
  <hr>
  <h2>StaTool</h2>
  <p>Statool is an R Shiny app intended to help statistics students understand sampling distributions by visualizing how the distributions are affected when population parameters change. The two sample t-test is performed by pulling random samples from two theoretical population distributions and comparing their functions.
  Developed by Hwi Jin Jang, Justin Richard, Matthew Gao, Connor Carson</p>
  <a href="https://www.youtube.com/watch?v=2bRqnlmcgSo&ab_channel=MatthewGao">Video Demo</a>
  <hr>
  <h2>Pattern Game</h2>
  <p>Website Game that allows the user to test their memory through memorizing patterns created Using HTML, CSS, and JS.</p>
  <a href="https://jang-hwijin.github.io/Pattern-Game/">Play!</a>
  <hr>
  <h2>Peer to Peer Chat</h2>
  <p>Created a multi-client chat server using sockets and threads to communicate messages using the TCP/IP protocol using C.</p>
  <a href="https://github.com/Jang-HwiJin/Peer-to-Peer_Chat">Check it out</a>

</div>








<%- include("partials/footer") -%>
